.container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.info h4 {
    color: #6B7280;
}    
.info p {
    color: #fff;
}
.info span {
    color: #E04444;
}
.info a{
    text-decoration: none;
    color: #fff;
}
.info a:hover {
    color: #E04444;
}
.link{
    display: flex;
    flex-direction: column;
    margin: 8px auto;
}
.link a{
    margin: 10px 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;
}
.link a:hover {
    border-bottom:1px solid #E04444;
}
.swiper SwiperSlide{
width: 20%;
height: 50%;
}