.totalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.detailBox {
    width: 25%;
}

.contain {
    border-bottom: 1px solid rgba(208, 208, 208, 0.456);
}

.detailBox h4,
span {
    font-weight: lighter;
}

.detailBox p {
    font-weight: bold;
}

.partitions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

.red {
    color: rgb(176, 0, 0);
    font-weight: bold;
}