.image {
    width: 40px;
}

.container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2% 1%;
    margin: 4%;
}

.container:hover {
    cursor: pointer
}

.rightside,
.leftside {
    display: flex;
    flex-direction: column;
}

.leftside :last-child {
    color: #cccccc;
}

.left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greenPriceChange {
    color: #0C9361;
}

.redPriceChange {
    color: #cb4d5c;
}

.redBackGround {
    width: 55%;
    margin: 0 21%;
    background: linear-gradient(90deg, #0E0E0E, #3C1B1F 100%, #3C1B1F 100%);
}

.greenBackGround {
    width: 55%;
    margin: 0 21%;
    background: linear-gradient(90deg, #0E0E0E, #10261E 100%, #10261E 100%);
}

.Button {
    border: none;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    padding: 5px 12px;
    margin-top: 5px;
}

.Button:disabled {
    opacity: 0.6;
}