// Colors
$grayColor: #6B7280;
$whiteColor: #ffffff;
$blackColor: #000000;
$pinkColor: #E04444;
$greenColor: #0C9361;
$redColor: #cb4d5c;
$redGradientBackground: linear-gradient(90deg, #0E0E0E, #3C1B1F 100%, #3C1B1F 100%);
$greenGradientBackground: linear-gradient(90deg, #0E0E0E, #10261E 100%, #10261E 100%);

// Fonts
$boldFontWeight: bold;
$bolderFontWeight: bolder;
$lightFontWeight: lighter;
